
.main-grid {
    /* color: rgb(255, 238, 205); */
    display: flex;
    /* margin: 4rem 15rem 4rem 15rem; */
}

.gradient-text {
    background: -webkit-linear-gradient(#6fa4ff, #4d50fd, #3e37ff, #d88aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-one {
    background: -webkit-linear-gradient(#000000, #142808, #2a1a1a, #c7c7c7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-top-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.body-right {
    display: flex;
    flex-direction: column;
    margin: 0px 50px 0px 50px;
}

.projects-preview-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: justify;
    text-justify: inter-word;
}

.project-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 1px; 
    text-decoration-color: gray;
    text-underline-offset: 3px;
    transition: 0.3s ease-in-out;
}

.project-name:hover {
    text-decoration-color: rgb(132, 153, 255);
}
