.footer {
    margin-top: 6rem;
    width: 100%;
    border-top: 1px solid rgb(35, 35, 35);
    border-top-width: 100%;
    padding: 70px 200px 70px 200px;
    color: black;
    background-color: rgb(255, 248, 238);
}

.navbar {
    background-color: rgb(255, 255, 255);
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.nav-text {
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in-out;
}

.nav-text:hover {
    border-bottom: 2px solid rgb(162, 181, 255);
}